<demo-page-title>
    <div header>Test</div>
    <div sub-header>
        <p>Test component!</p>
    </div>
</demo-page-title>
<demo-page-content>
    <h2 class="ui dividing header">Examples</h2>
    <div class="ui segment">
      <sui-toast [dismissible]="false">
        <ng-template suiToastHeader><div class="header">Hello</div></ng-template>
        <ng-template suiToastBody><div class="body">Toast body</div></ng-template>
      </sui-toast>
    </div>
    <br/>
    <h2 class="ui dividing header">Examples</h2>
    <div class="ui segment">
      <br/>
      <button type="button" class="ui button" (click)="addToast()">Add toast</button>
      <button type="button" class="ui button" (click)="addToast2()">Add toast</button>
      <br/>
      <sui-toast-container #toastContainer></sui-toast-container>
    </div>
</demo-page-content>
